body {
  font-family: Segoe UI, 'Segoe UI', sans-serif;
  background: url('../img/bg.png');
  font-weight: 300;
}
a,
a[href] {
  color: #00c6ff;
}
.vcard-heading {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 0;
  // color: #00C6FF;
  // color: #0C66F5;
  color: #179EE8;
}
.vcard-subheading {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  // color: #179EE8;
  color: #0CDFF5;
}
.vcard {
  background: $white;
  padding: 40px;
  color: $black;
  border: 1px solid #00C6FF;
}
.vcard-logo {
  float: right;
  // padding: 4px 0;
  width: 50px;
  height: 50px;
}
.row.centered {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
img.socicon-nonblock {
  width: 32px;
  margin-bottom: -5px;
}

.vcard-main-prevarrow {

}

.vcard-main-prevarrow,
.vcard-main-nextarrow {
  width: 30px;
  height: 30px;
  background: url('../img/left-arrow.svg') no-repeat;
  -webkit-background-size: 20px;
       -o-background-size: 20px;
          background-size: 20px;
  cursor: pointer;
  background-position: center;
}

.vcard-main-nextarrow {
  -webkit-transform: scale(-1);
     -moz-transform: scale(-1);
      -ms-transform: scale(-1);
       -o-transform: scale(-1);
          transform: scale(-1);
}
.flex-centered {
  display: flex;
  align-items: center;
}
.vcard-main {
  margin: 40px 0;
}

.vcard-main-resume-text {
  font-size: 16px;
}

.skill-main {
  height: 50px;
  text-align: center;
}
.skills-box-skill {
  display: inline-block;
  padding: 0 0;
  text-align: center;
  width: 85px;
}

.skills-box {
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 20px;
  display: inline-block;
  // background-color: #fdfdfd;
}

.skills-box-design {
  .skill-box-heading {
    color: #254bff;
  }
  img.skill-icon {
    height: 30px;
    margin-top: 7px;
    margin-bottom: 13px;
  }
}

.skills-box-frontend {
  .skill-box-heading {
    color: #80d200;
  }
}
.skills-box-php {
  .skill-box-heading {
    color: #813fee;
  }
}
.skills-box-python {
  .skill-box-heading {
    color: #1cab75;
  }
}

.skill-icon {
  margin: 0 auto;
  height: 40px;
}

.skill-box-heading {
  margin: 0 auto;
  text-align: center;
  color: rgba(0,0,0,.4);
  // font-weight: 700;
  font-variant: small-caps;
  font-size: 14px;
  padding: 0;
}
.slick-slide,
.slick-slide:active {
  outline: none;
}

.skill-name {
  font-size: 14px;
  font-weight: 300;
}

.portfolio-header {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.portfolio-items {
  padding-left: 0;
}

.portfolio-items > li {
  margin: 10px 0;
  font-size: 14px;

  display: flex;

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    margin-right: auto;
    color: #ff6060;
    // display: inline-block;
    // padding: 3px 5px;
    // color: #fff;
    // background: #ff6060;
  }

  .type {
    display: inline-block;
    padding: 3px 5px;
    font-size: 10px;
    // color: #fff;
    // font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 0;
  }
  .type-design {
    // background: #254BFF;
    color: #254BFF;
  }
  .type-frontend {
    color: #80D200;
  }
}

.portfolio-items.second {
  li.pfl-coming-soon {
    display: block;
    font-size: 28px;
    padding: 15px;
    border: 1px dashed;
    text-align: center;
    color: rgba(0,0,0,.3);
  }
}


.vcard-main-slider > div {
  margin-bottom: 6px;
  .skill-icon {
    margin-top: 7px;
    margin-bottom: 3px;
  }
  .skills-box-design img.skill-icon {
    margin-top: 7px;
    margin-bottom: 13px;
  }
  .slick-slide .skill-icon {
    margin-top: 0;
    margin-bottom: 0;
  }
}

  .slick-slide {
    margin-bottom: 0;
    .skill-icon {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

.vcard-main-prevarrow,
.vcard-main-nextarrow {
  display: none;
}

.container {
  min-width: 1170px !important;
  max-width: 1170px !important;
  width: 1170px !important;
}

body {
  min-width: 1170px;
}
